@import url('./_bold/pagination__number_bold.css');

.pagination__number {
    font-family: Arial;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;

}

.pagination__number:first-of-type {
    margin-right: 30px;
}

.pagination__number:hover {
    opacity: 1;
    cursor: pointer;
}