@import url('./_selected/sort__line_selected.css');

.sort__line {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #5375B7;
    margin-right: 15px;
}

.sort__line:hover {
    opacity: 0.7;
    cursor: pointer;
}