.card__button {
    width: 260px;
    height: 40px;
    background-color: #F1BD45;
    border: none;
    border-radius: 3px;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.card__button:hover {
    cursor: pointer;
    background-color: rgb(248, 175, 6);
}