.form__close-button {
    width: 117px;
    height: 40px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    right: 0;
    font-size: 14px;
    line-height: 16px;
}

.form__close-button:hover {
    cursor: pointer;
    background-color: #DEDEDE;
}